* {
    font-family: Raleway;
}

body {}

@media screen and (min-width: 1023px) {
    .navbar-start--centered {
        float: none;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
    .container .image-pos {
        width: 60%;
        float: right;
        position: absolute;
        bottom: -100px;
        left: 40%;
    }
}

@media screen and (min-width: 768px) {
    h2 {
        width: 40%;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-item span {
        display: none;
    }
    .container .image-pos {
        display: none;
    }
    .hero-title {
        background: url(media/1.png) no-repeat !important;
        background-size: auto 100% !important;
        position: relative;
        bottom: 3.5rem;
    }
    .is-medium {
        min-height: calc(100vh - 3.25rem) !important;
    }
    .navbar.is-black {
        background-color: transparent !important;
    }
    .navbar-burger.is-active span {
        color: white !important;
    }
    .navbar-menu.is-active {
        height: 100vh !important;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container-title {
        margin-top: 10% !important;
    }
}

@media screen and (max-width: 768px) {
    .container-title {
        margin-top: 50% !important;
    }
}

.navbar .navbar-start a {
    display: flex;
    align-items: center;
}

.button-logo {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border: 1px solid gray !important;
    font-family: Raleway !important;
    font-size: 13px !important;
    border-radius: 3px !important;
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("fonts/Raleway-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.navbar-item {
    color: #FFFFFF !important;
    font-size: 13px !important;
}

.navbar-item a {
    color: white;
    letter-spacing: 0.1em;
}

.navbar-item a:hover {
    color: white;
}

.navbar-item span {
    color: white;
    font-size: 10px;
}

h2 {
    font-family: Raleway-Bold;
    letter-spacing: 0.12em;
    display: block;
}

.button-shop {
    border-radius: 0 !important;
    font-family: Raleway-Bold;
    letter-spacing: 0.13em;
}

.is-warning {
    background: #FFE500 !important;
    color: black !important;
}

.navbar-burger span {
    color: black !important;
}

.is-black {
    background-color: black;
}